<main class="auth">

  <div class="auth__content">
    <div class="auth__content--inner">
      <h1 class="auth__title">Hello Again!</h1>
      <p class="auth__desc">Welcome back to sign in. As a returning customer, you have access to your previously saved all information.</p>
      <div class="form">

        <div class="form__group">
          <div class="form__text">
            <input type="text"  placeholder="Email" autocomplete="off">
          </div>
        </div>

        <div class="form__group">
          <div class="form__text">
            <input type="password"  placeholder="Password" autocomplete="off">
          </div>
        </div>

      </div>

      <div class="row">
        <label class="form__checkbox">
          <input type="checkbox" name="" id="" class="form__checkbox-input" />
          <span class="form__checkbox-label">Set as default card</span>
        </label>

        <a href="#!" class="auth__link">Forgot password?</a>
      </div>



      <div class="btn" (click)="login()" >
        Sign In With Google
      </div>



    </div>
  </div>
</main>
